# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Directories
testProgs/
mediaServer/
proxyServer/
groupsock/


#Files
BasicUsageEnvironment/Makefile
UsageEnvironment/Makefile
config.*
config.linux
config.macosx
